.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.brown{
  background-color: rgb(58, 46, 17);
}

html, body, #root {
  height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

header{
  padding: 3px;
  margin: 0em;
  background-color: rgb(240, 175, 91);
}

.nav-link{
  padding: auto ;
  margin: auto;
  text-align: center;
  color: black;
}

.orange{
  background-color: rgb(240, 175, 91);
  /* margin: 0 30px; */
}

.black{
 color: black;
}
