@import url(https://fonts.googleapis.com/css?family=Lobster);
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.brown {
  background-color: rgb(58, 46, 17);
}

html, body, #root {
  height: 100%;
  width: 100%;
  min-width: 100%;
  /* min-height: 100%; */
  margin: 0;
  padding: 0;
}

header {
  padding: 3px;
  margin: 0em;
}

.nav-link {
  padding: auto;
  margin: auto;
  text-align: center;
  color: black;
}

.third {
  background-color: #6E4C1E;
  /* background-color: #A13941; */
}

.orange {
  /* background-color:#EEB238; */
  /* background-color:#F3DB74; */
  background-color: #881600;
}

.light-orange {
  /* background-color: rgb(255, 228, 137); */
  /* background-color: #F0E1B9; */
  background-color: rgb(245, 225, 199);
}
.basic-info{
  background-color: rgb(238, 229, 216);
}

header {
  font-family: Lobster;
}

.nav-link{
  font-family: Lobster;
}

h3{
  color: white;
}

.footer-color{
  background-color: #4E0110;
}

.text-black {
  color: antiquewhite;
  /* color: black; */
}

.unread-msg-num {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 10px;
  background: rgb(253, 255, 151);
  line-height: 25px;
  text-align: center;
}

.round-image {
  border-radius: 50%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.info-button {
  height: 35px;
  width: 35px;
}

.main-body {
  /* used for main body, only applicable to display:flex */
  align-items: stretch
}

.fixed-bottom-above {
  position: fixed;
  right: 0;
  bottom: 40px;
  left: 0px;
  z-index: 1030
}

.fixed-bottom-height {
  height: 100x;
  min-height: 100px;
}

.fixed-bottom-height-2 {
  height: 40px;
  min-height: 40px;
}

.min-height-100 {
  min-height: 100%;
}

a, a::after, a:active, a:hover, a:visited {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}



/* below code is from ym */

button {
  font-family: Lobster;
  border-style: solid;
  border-width: 0.02px;
  border-radius: 20px;
  border-color: BLACK;
  background: rgb(255, 137, 70);
  color: black;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: rgb(253, 55, 105);
  color: white;
}

.registerButton {
  font-family: Lobster;
  border-style: solid;
  border-color: BLACK;
  border-width: 0.02px;
  background: rgb(255, 137, 70);
  /* width: 35%; */
  margin-bottom: 3%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.message {
  font-family: "Squada One";
}

button.tantan {
  background: url(../src/images/tantan.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: unset;
  border: 2px solid rgb(255, 146, 82);
  margin: 2% 3% 5% 4%;
  width: 95%;
  /* width: 30%; */
  /* height: 40px; */
  max-width: 250px;
  height: 40px;
  /* width: 180px; */
  flex-grow: 1;
  cursor: pointer;
  transition-duration: 0.4s;
}

button.tantan:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button.tinder {
  background: url(https://i.pcmag.com/imagery/reviews/02ibIXDUJNJ3V7KL8jhUNFf-7.fit_scale.size_1028x578.v_1569480464.png);
  background-size: 100%;
  background-position: center;
  border: 2px solid rgb(255, 56, 122);
  border-radius: unset;
  margin: 2% 4% 5% 3%;
  width: 95%;
  max-width: 250px;
  /* height: 40px; */
  height: 40px;
  /* width: 180px; */
  cursor: pointer;
  flex-grow: 1;
  transition-duration: 0.4s;
}

button.tinder:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

label {
  display: flex;
}

#registerForm {
  overflow-y: scroll;
  border-radius: 12px;
  margin-top: 5%;
  bottom: 5%;
  height: 80vh;
  width: auto;
}

.img-holder {
  border-radius: 30%;
}